header {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 70%, rgba(255,255,255,0.05) 100%); 
  overflow-x: hidden;
  
  nav {
    img {
      width: 5.6rem;
    }
  }

  .nav-toggle {
    border-radius: 0.5em;
  }

  .title {
    color: #a52a2a;
    text-decoration: none;
  }

  h2 {
    color: #008080;
  }

  @media (max-width: 1200px) {
    nav {
      img {
        width: 3.6rem;
      }

      a {
        font-size: 1rem;
      }
    }

    .title {
      font-size: 1.8rem;
    }

    h2 {
      font-size: 1.4rem;
    }
  }

  @media (max-width: 768px) {
    transition: all ease 0.5s;
    margin-bottom: -14em;

    &.active {
      margin-bottom: 0;
    }
    nav.nav-1 {
      a {
        margin-left: -120%;
        transition: all ease 0.5s;

        &.active {
          margin-left: 0;
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }

    nav.nav-2 {
      a {
        margin-left: 120%;
        transition: all ease 0.5s;

        &.active {
          margin-left: 0;
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}