<header [ngClass]="{'active': isActive }" class="row mx-0 pt-4 pb-md-6 pb-2">
  <nav class="nav-1 order-2 order-md-1 pt-2 pt-md-0 col d-flex flex-column flex-md-row justify-content-around text-center text-uppercase">
    <a class="w-100 h5 py-2 py-md-0" [ngClass]="{'active': isActive }" [routerLink]="['/']" [routerLinkActive]="['router-link-active']"><img class="d-block mx-auto pb-2 pb-md-4" src="./assets/images/icon_home.png" />Home</a>
    <a class="w-100 h5 py-2 py-md-0" [ngClass]="{'active': isActive }" [routerLink]="['/development']" [routerLinkActive]="['router-link-active']" ><img class="d-block mx-auto pb-2 pb-md-4" src="./assets/images/icon_offer.png" />Development</a>
  </nav>
  <div class="order-1 order-md-2 col-12 col-md d-flex flex-column px-0 px-md-2 text-center">
    <a class="h1 title" [routerLink]="['/']" [routerLinkActive]="['router-link-active']">Pixel And Mind</a>
    <h2 class="pt-xl-4 pt-sm-2 mt-4">Amazing Web Studio</h2>
    <a class="d-md-none" (click)="isActive = !isActive;"><img class="d-block mt-4 mb-2 mx-auto nav-toggle" src="./assets/images/mobile-menu.png" /></a>
  </div>
  <nav class="nav-2 order-3 pt-2 pt-md-0 col d-flex flex-column flex-md-row justify-content-around text-center text-uppercase">
    <a class="w-100 h5 py-2 py-md-0" [ngClass]="{'active': isActive }" [routerLink]="['/portfolio']" [routerLinkActive]="['router-link-active']"><img class="d-block mx-auto pb-2 pb-md-4" src="./assets/images/icon_portfolio.png" />Portfolio</a>
    <a class="w-100 h5 py-2 py-md-0" [ngClass]="{'active': isActive }" [routerLink]="['/contact']" [routerLinkActive]="['router-link-active']"><img class="d-block mx-auto pb-2 pb-md-4" src="./assets/images/icon_contact.png" />Contact</a>
  </nav>
</header>