footer {
  background: rgba(255,255,255, 0.8);

  a {
    color: #008080;
    text-decoration: none;
  }

  @media (max-width: 1200px) {
    nav {
      a {
        font-size: 1.225rem;
      }
    }
  }
}