<footer class="row mx-0 py-3">
  <nav class="d-flex flex-column flex-md-row justify-content-around text-center text-uppercase col">
    <a class="h5" [routerLink]="['/']" [routerLinkActive]="['router-link-active']">Home</a>
    <a class="h5" [routerLink]="['/development']" [routerLinkActive]="['router-link-active']">Development</a>
    <a class="h5" [routerLink]="['/portfolio']" [routerLinkActive]="['router-link-active']">Portfolio</a>
    <a class="h5" [routerLink]="['/contact']" [routerLinkActive]="['router-link-active']">Contact</a>
  </nav>
  <div class="col-12 px-0 pt-4">
    &copy; 2015 Created by Vortex.
  </div>
</footer>