<header>

    <nav class="nav nav--primary-1" [ngClass]="{'active': isActive }">
      <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}"><i class="icon icon-home"></i>Home</a>
      <a [routerLink]="['/development']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}"><i class="icon icon-offer"></i>Development</a>
    </nav>
    <div class="title-block">
      <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}"><h1>Pixel And Mind</h1></a>
      <h2>Amazing Web Studio</h2>
      <a class="nav-toggle icon icon-mobile-menu is-hidden--large " (click)="isActive = !isActive;"></a>
  	</div>
  	<nav class="nav nav--primary-2" [ngClass]="{'active': isActive }">
      <a [routerLink]="['/portfolio']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}"><i class="icon icon-portfolio"></i>Portfolio</a>
      <a [routerLink]="['/contact']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}"><i class="icon icon-contact"></i>Contact</a>
    </nav>

</header>