/* Header Styles */

header {
  display: flex;
  flex-wrap: wrap;
} 

/* Navigations */

.nav {
  width: 33%;
  display: flex;

    i {
      margin: 1.5em auto 1em;
    }

    a {
      font-size: 1.8em;
      width: 50%;
      padding-bottom: 2.5em;
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 70%, rgba(255,255,255,0.05) 100%); 

        &:hover {
          color: brown;
        }
    }
}

@media (max-width: 991px) {

  .nav.nav--primary-1,
  .nav.nav--primary-2{

    a {
      font-size: 1.4em;
    }
  }
}

@media (max-width: 768px) {

  .nav.nav--primary-1 {
    order: 4;
    width: 50%;
    flex-wrap: wrap;
    justify-content: flex-start;

    a {
      width: 100%;
      padding: 0;
      transition: 0.5s ease;
      margin: 0.2em 0 0 -100%;
      background: linear-gradient(to right, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0.05) 100%); 
    }

    i {
      margin: 0.5em auto;
    }

    &.active {

      a {
        margin-left: 0;
      }
    }
  }

  .nav.nav--primary-2 {
    order: 6;
    flex-wrap: wrap;
    width: 50%;
    overflow: hidden;
    justify-content: flex-end;

    a {
      width: 100%;
      padding: 0;
      transition: 0.5s ease;
      margin: 0.2em -100% 0 0;
      background: linear-gradient(to left, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0.05) 100%); 
    }

    i {
      margin: 0.5em auto;
    }

    &.active {

      a {
        margin-right: 0;
      }
    }
  }
}

/* Title / Logo Styles */

.title-block {
  width: 34%;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 80%, rgba(255,255,255,0.05) 100%);

  h1 {
    color: #a52a2a;
  }

  h2 {
    margin: 0.5em 0;
  }

  .nav-toggle {
    height: 1.8em;
    width: 2em;
    cursor: pointer;
    margin: 1em auto;
    border-radius: 0.5em;
  }
}

@media (max-width: 768px) {

  .title-block {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 2em #fff;
    order: 2;

    h1 {
      padding-bottom: 0.5em;
    }

    h2 {
      padding: 0;
    }
  }
}

