/* Icons Default */

.icon {
  height: 6rem;
  width: 6rem;
  display: block;
  background-size: 100% 100% !important;
  

  &.icon-home {
    background: url("images/icon_home.png");
  }

  &.icon-offer {
    background: url("images/icon_offer.png");
  }

  &.icon-portfolio {
    background: url("images/icon_portfolio.png");
  }

  &.icon-contact {
    background: url("images/icon_contact.png");
  }
  
  &.icon-web-design {
    background: url("images/web-design-icon.png");
  }

  &.icon-mobile-dev {
    background: url("images/mobile-icon.png");
  }

  &.icon-quality {
    background: url("images/quality-icon.png");
  }

  &.icon-ux {
    background: url("images/ux-icon.png");
  }

  &.icon-facebook {
    background: url("images/facebook.png");
  }

  &.icon-twitter {
    background: url("images/twitter.png");
  }

  &.icon-instagram {
    background: url("images/instagram.png");
  }

  &.icon-mobile-menu {
    background: url("images/mobile-menu.png");
  }
}

@media (max-width: 991px) {

  .icon {
    height: 4.8rem;
    width: 4.8rem;
  }
}

@media (max-width: 768px) {

  .icon {
    height: 3.6rem;
    width: 3.6rem;
  }
}