/* Page Wrapping */

html {
  height: 100%;
}

body {
  background: url('images/snow.jpg') #fff center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  min-width: 360px;
  height: 100%;
} 

@media (max-width: 768px) {

  body {
    background: url('images/snow-m.jpg') center top no-repeat;
    background-attachment: fixed;
    background-size: cover;
  } 
} 

router-outlet + * {
  flex: 1 0 auto;
  background: rgba(255,255,255, 0.8);
  margin-top: 0.35em;
}


