<div class="row mx-0">
  <div class="col">
    <h2>Welcome to Pixel And Mind's website!</h2>
    <p class="px-md-6 px-3">
      We are creative studio that offers our clients high quality web development 
      including responsive web sites. Quality and simplicity are our strongest 
        sides, we always provide a positive user experience, and also manage to keep
      web source very informative.
    </p>
  </div>
</div>
<div class="row mx-0">
  <div class="col-lg mx-3">
    <img src="./assets/images/web-design-icon.png" />
    <h3>Web Design</h3>
    <p>
    Web sites is the most powerful tool of the 21st century that used by almost every company
    and individual for very different purposes like advertising, communication etc...
  </p>
  </div>
  <div class="col-lg mx-3">
    <img src="./assets/images/mobile-icon.png" />
    <h3>Mobile Web Development</h3>
    <p>
    It’s not a secret that these days a lot of users 
    browsing websites with different mobile devices...
  </p>
  </div>
  <div class="col-lg mx-3">
    <img src="./assets/images/quality-icon.png" />
    <h3>Quality and Simplisity</h3>
    <p>
    We develop only high quality web products, and yet, you will be surprized
    how simple and user friendly our websites are!
    read more...
  </p>
  </div>
  <div class="col-lg mx-3">
    <img src="./assets/images/ux-icon.png" />
    <h3>Positive User Experience</h3>
    <p>
    The most important part is to deliver high quality user experience,
    which is based on friendly graphic and informativity of the web source...
  </p>
  </div>
</div>