/* Content Styles */

.content {
  padding-bottom: 2em;
  display: flex;
  flex-wrap: wrap;

  .greet {
	  padding: 0 5% 2em ;
    width: 100%;
  }

  .block.block--ad {
  	width: 25%;

    	h3 {
  	    font-size: 1.6em;
  	    min-height: 2.5em;
      }

      p {
        padding: 0 1em;
      }
  }

  i {
  	margin: 0 auto;
    height: 4em;
    width: 4em;
  }
}

@media (max-width: 991px) {
  
  .content {

    .block.block--ad {
      width: 100%;

      p {
        padding: 0 0.5em 1em 0.5em;
      }

      h3 {
        min-height: 0;
        padding: 0.5em 0;
      }
    }
  }
}

@media (max-width: 768px) {
  
  .content {
    border-radius: 0;
  }
}