<!-- content part -->

<div class="content">
  <div class="greet">
    <h2>Welcome to Pixel And Mind's website!</h2>
  <p>
    We are creative studio that offers our clients high quality web development 
    including responsive web sites. Quality and simplicity are our strongest 
      sides, we always provide a positive user experience, and also manage to keep
    web source very informative.<br />
    </p>
  </div>
  <div class="block block--ad">
    <i class="icon icon-web-design"></i>
    <h3>Web Design</h3>
    <p>
    Web sites is the most powerful tool of the 21st century that used by almost every company
    and individual for very different purposes like advertising, communication etc...
  </p>
  </div>
  <div class="block block--ad">
    <i class="icon icon-mobile-dev"></i>
    <h3>Mobile Web Development</h3>
    <p>
    It’s not a secret that these days a lot of users 
    browsing websites with different mobile devices...
  </p>
  </div>
  <div class="block block--ad">
    <i class="icon icon-quality"></i>
    <h3>Quality and Simplisity</h3>
    <p>
    We develop only high quality web products, and yet, you will be surprized
    how simple and user friendly our websites are!
    read more...
  </p>
  </div>
  <div class="block block--ad">
    <i class="icon icon-ux"></i>
    <h3>Positive User Experience</h3>
    <p>
    The most important part is to deliver high quality user experience,
    which is based on friendly graphic and informativity of the web source...
  </p>
  </div>
</div>
