/* Footer Styles */

footer {
  background: rgba(255,255,255, 0.8);

  .nav--footer {
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;

    a {
      font-size: 1.8em;
      width: 25%;
      border-radius: 0.5em;
      padding: 0.2em 0;
      color: teal;

        &:hover {
          color: brown;
        }
    }
  }
}

@media (max-width: 768px) {

  footer .nav--footer {

    a {
      width: 100%;
    }
  }
}